.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  padding-left: 350px;
  background-color: var(--white);
}

@media (width < 900px) {
  .container {
    padding-left: 280px;
  }
}

@media (width < 768px), (height < 530px) {
  .container {
    width: 100%;
    padding-left: 0;
  }

  .hide {
    display: none;
  }
}
