.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 80px;
  padding: 120px 0;
  background-image: url("../../assets/img/auth-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.survey {
  display: flex;
  gap: max(12%, 50px);
  padding: 0% max(12%, 50px);
}

.title {
  flex: 1;
  margin: 0;
  color: var(--white);
  font-weight: 600;
  font-size: 30px;
  line-height: 1.25;
}

@media (width < 768px) {
  .container {
    padding: 50px 0;
  }

  .title {
    display: none;
  }
}
