.container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  height: 100vh;
  background-color: var(--blue-300);
}

.page {
  display: flex;
  gap: max(13%, 50px);
  padding: 0% max(13%, 50px);
}

.page .name {
  flex: 1;
  color: var(--white);
  font-weight: var(--semibold);
  font-size: 30px;
  line-height: 125%;
}

.survey {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 35px;
}

.survey .title {
  flex: 1;
  color: var(--white);
  font-weight: var(--semibold);
  font-size: 20px;
  line-height: 125%;
}

.survey .select {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.survey .submit {
  color: var(--gray-300);
  font-size: 14px;
  line-height: 20px;
  background-color: var(--white);
  border: 1px solid var(--white);
  border-radius: 25px;
}
