.info {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--gray-400);
}

.chat-number {
  margin-left: 15px;
  padding: 2px 8px;
  font-size: 12px;
  background-color: var(--blue-100);
  border-radius: 24px;
}

.search {
  margin-top: 23px;
}

.chat-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 83px;
  padding: 0 16px 130px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.chat-list::-webkit-scrollbar {
  display: none;
}

.chat {
  display: flex;
  align-items: center;
  width: 317px;
  height: 83px;
  margin-top: 15px;
  font-weight: 600;
  font-size: 16px;
  font-family: Montserrat, Arial, sans-serif;
  background: var(--white-alpha-80);
  border-radius: 20px;
  box-shadow: 0 4px 23px 0 var(--violet-100);
}

@media (width < 900px) {
  .chat-list {
    align-items: stretch;
    padding: 0 15px 130px;
  }

  .search {
    width: 100%;
    padding: 0 15px;
  }
}

@media (width < 768px) {
  .chat-list {
    margin-top: 23px;
    padding: 0 20px;
  }

  .search {
    width: 100%;
    padding: 0 15px;
  }
}
