.chat-footer {
  display: flex;
  align-items: center;
  width: 100%;
}

.form {
  display: flex;
  flex-grow: 1;
  align-items: center;
  box-sizing: border-box;
  margin: 24px 24px 24px 35px;
  padding: 14px 20px;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 1px 4px 23px 1px var(--violet-100);
}

.send-button {
  display: grid;
  place-items: center;
  padding: 8px;
  background-color: transparent;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.send-button:disabled {
  cursor: default;
  opacity: 0.6;
}

.send-button:not(:disabled):hover {
  box-shadow: var(--shadow);
}
