.option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 0;
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 26px;
  cursor: pointer;
}

.option > .label {
  display: block;
  color: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.option .checkbox {
  display: none;
}

.option:has(.checkbox:checked) {
  color: var(--gray-300);
  background-color: var(--blue-alpha-70);
}
