.container {
  box-sizing: border-box;
  height: 100%;
  padding: 251px 36px 0 386px;
  background-color: var(--white);
  border-radius: 30px 0 0 30px;
}

.note-wrapper {
  display: flex;
  flex-grow: 1;
  padding: 0 20px;
}

@media (width < 900px) {
  .container {
    padding: 151px 36px 0 286px;
  }

  .note-wrapper {
    padding-top: 100px;
  }
}

@media (width < 768px), (height < 530px) {
  .container {
    width: 100%;
    padding: 70px 0 0;
  }

  .hide {
    display: none;
  }
}
