.container {
  box-sizing: border-box;
  margin-left: 350px;
  padding: 251px 36px 0;
  background-color: var(--white);
  border-radius: 30px 0 0 30px;
}

.backward {
  display: none;
}

@media (width < 900px) {
  .container {
    margin-left: 250px;
    padding-inline: 0;
  }
}

@media (width < 768px) {
  .container {
    width: 100%;
    margin-left: 0;
    padding-top: 70px;
  }

  .hide {
    display: none;
  }

  .backward {
    position: relative;
    left: 50px;
    display: block;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
