.form {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 35px;
}

.form .title {
  flex: 1;
  color: var(--white);
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
}

.form .select {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form .error {
  color: var(--red-300);
  text-align: center;
}
