.track {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 451px;
  margin: 0 auto;
  padding: 0 15px 0 0;
  border-radius: 30px;
  box-shadow: 0 4px 23px 0 var(--violet-100);
}

.background-image {
  width: 210px;
  height: 177px;
  border-radius: 30px 0 0 30px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -25px;
  background-color: var(--white);
  border-radius: 30px;
}

.info {
  width: 52%;
  height: 85px;
  line-height: 20px;
}

.title {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
}

.duration {
  display: inline-block;
  margin-top: 8px;
  padding: 6px 12px;
  color: var(--blue-400);
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  text-align: center;
  background-color: var(--blue-alpha-30);
  border-radius: 14px;
}

.play-button {
  display: block;
  width: 48px;
  height: 48px;
  color: var(--blue-300);
}

.play-button:hover {
  color: var(--blue-400);
  transform: scale(1.1);
}

@media (width < 600px) {
  .content {
    width: 85%;
  }

  .track {
    height: 140px;
  }
}
