.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  width: 100%;
  margin-top: 15px;
}

.error-message {
  color: var(--red-300);
  font-size: 12px;
  text-align: left;
}
