.auth {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  padding: 0 5%;
  overflow: hidden;
  color: var(--white);
  background-image: url("../../assets/img/auth-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.auth .logo {
  display: none;
}

.auth .overlay {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 120px;
  text-align: left;
  background-color: var(--white-alpha-20);
  border-radius: 32px;
}

.auth-name {
  position: relative;
  z-index: 2;
  margin-bottom: 80px;
  text-align: center;
}

.auth-name .secondary {
  margin: 0.1px;
  margin-bottom: 45px;
  font-weight: 600;
  font-size: 30px;
  line-height: 2.344;
}

.auth-name .primary {
  margin: 0.1px;
  font-weight: 600;
  font-size: 83px;
}

@media (width < 1023px) {
  .auth {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .auth-name {
    width: 420px;
    margin: 0;
  }

  .auth-name .secondary {
    margin-bottom: 13px;
  }

  .auth-name .logo-xl img {
    width: 298px;
  }

  .auth .overlay {
    padding: 30px 70px;
  }
}

@media (width < 768px) {
  .auth {
    flex-direction: column;
    justify-content: center;
  }

  .auth-name {
    width: 280px;
    text-align: start;
  }

  .auth-name .secondary {
    display: none;
  }

  .auth-name .logo-xl img {
    width: 175px;
  }

  .auth .overlay {
    height: auto;
    padding: 0.1px;
    background-color: transparent;
  }
}
