.auth {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 5%;
  overflow: hidden;
  color: var(--white);
  background-image: url("../../assets/img/auth-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.overlay {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 120px;
  text-align: left;
  background-color: var(--white-alpha-20);
  border-radius: 32px;
}

.auth-name {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  margin-bottom: 64px;
}

.secondary {
  margin: 0.1px;
  font-weight: 600;
  font-size: 30px;
  line-height: 2.344;
}

@media (width < 1023px) {
  .auth {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .auth-name {
    gap: 16px;
    margin-bottom: 0;
  }

  .overlay {
    padding: 30px 70px;
  }
}

@media (width < 768px) {
  .auth {
    flex-direction: column;
    justify-content: center;
  }

  .auth-name {
    right: 55px;
    margin-bottom: 18px;
  }

  .secondary {
    display: none;
  }

  .overlay {
    height: auto;
    padding: 0.1px;
    background-color: transparent;
  }
}
