.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.journal-entry-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 83px;
  padding: 0 16px;
  overflow-y: scroll;
}

.journal-entry-list::-webkit-scrollbar {
  display: none;
}

@media (width < 900px) {
  .journal-entry-list {
    padding: 0 15px;x|
  }

@media (width < 768px) {
  .journal-entry-list {
    margin-top: 23px;
    padding: 0 20px;

.search {
    width: 100%;
    margin-top: 23px;
    padding: 0 15px;
  }
}
