.info {
  display: flex;
  align-items: center;
  width: 100%;
}

.journal-entry-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 83px;
  padding: 0 16px 130px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.journal-entry-list::-webkit-scrollbar {
  display: none;
}

.search {
  margin-top: 23px;
}

.no-card {
  color: var(--blue-200);
}

@media (width < 900px) {
  .journal-entry-list {
    padding: 0 15px 130px;
  }

  .search {
    width: 100%;
    padding: 0 15px;
  }
}

@media (width < 768px) {
  .journal-entry-list {
    margin-top: 23px;
    padding: 0 20px;
  }
}
