.chat-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 32px;
  padding: 30px 36px 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.loader {
  position: relative;
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px auto;
  color: var(--blue-100);
  border-radius: 50%;
  animation: loader 2s linear infinite;
}

@keyframes loader {
  0% {
    box-shadow:
      14px 0 0 -2px,
      38px 0 0 -2px,
      -14px 0 0 -2px,
      -38px 0 0 -2px;
  }

  25% {
    box-shadow:
      14px 0 0 -2px,
      38px 0 0 -2px,
      -14px 0 0 -2px,
      -38px 0 0 2px;
  }

  50% {
    box-shadow:
      14px 0 0 -2px,
      38px 0 0 -2px,
      -14px 0 0 2px,
      -38px 0 0 -2px;
  }

  75% {
    box-shadow:
      14px 0 0 2px,
      38px 0 0 -2px,
      -14px 0 0 -2px,
      -38px 0 0 -2px;
  }

  100% {
    box-shadow:
      14px 0 0 -2px,
      38px 0 0 2px,
      -14px 0 0 -2px,
      -38px 0 0 -2px;
  }
}
