.modal-body {
  padding: 10px;
  font-size: 16px;
  line-height: 1.25;
  white-space: nowrap;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.form > :last-child {
  margin-top: 25px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  width: 100%;
  margin-top: 45px;
}

@media (width < 480px) {
  .modal-body {
    padding: 5px;
    white-space: normal;
  }
}
