.bot-message-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 16px;
  animation: slide-in-left 0.5s forwards;
}

.message-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 60%;
}

.message-text {
  display: inline-block;
  width: fit-content;
  padding: 8px 16px;
  color: var(--white);
  font-weight: 400;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  line-height: 20px;
  word-wrap: break-word;
  word-break: break-all;
  background-color: var(--blue-300);
  border-radius: 12px;
  animation: slide-in-left 0.5s forwards;
}

.bot-avatar {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
