.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-left: 350px;
  font-weight: 600;
  background-image: url("../../../../assets/img/meditation-player-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.meditation-player {
  display: flex;
  flex-direction: column;
  max-width: 385px;
  margin: auto;
  text-align: center;
}

.image-wrapper {
  width: 385px;
  margin-bottom: 24px;
  padding: 15px;
  background-color: var(--white);
  border-radius: 24px;
  box-shadow:
    0 4px 23px 0 var(--violet-100),
    0 4px 49px 0 var(--blue-alpha-30);
}

.image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  border-radius: 24px;
}

.title {
  margin: 0;
  color: var(--gray-300);
  font-size: 28px;
  line-height: 1.3;
}

.purpose {
  margin-top: 8px;
  margin-bottom: 24px;
  color: var(--blue-200);
  font-size: 16px;
  line-height: 1.25;
}

@media (width < 900px) {
  .wrapper {
    padding-left: 250px;
  }
}

@media (width < 767px), (height < 530px) {
  .wrapper {
    padding: 5px 20px 0;
    background-image: url("../../../../assets/img/meditation-player-background-mobile.png");
  }

  .meditation-player {
    max-width: 315px;
  }

  .title {
    font-size: 22px;
    line-height: 1.5;
  }

  .purpose {
    margin-bottom: 20px;
    font-size: 14px;
  }

  .image-wrapper {
    width: 315px;
    height: 315px;
  }
}

@media (height < 509px) {
  .image-wrapper {
    align-self: center;
    width: 200px;
    height: 200px;
  }
}

@media (height <400px) {
  .image-wrapper {
    display: none;
  }
}
