.info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-400);
}

.user {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 28px;
}

.user-details {
  display: flex;
  align-items: center;
}

.user-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  margin-right: 8px;
  background-color: var(--blue-300);
  border-radius: 50%;
}

.user-name {
  color: var(--gray-400);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.buttons-container {
  width: 100%;
  margin-top: 78px;
  padding: 0 16px;
}
