.chat-header {
  position: sticky;
  top: calc(0%);
  width: 100%;
  background-color: var(--white);
  box-shadow: 1px 15px 15px -15px var(--white);
}

.header-content {
  display: flex;
  align-items: center;
  padding: 24.5px 36px;
}

.logo {
  width: 40px;
  height: 40px;
}

.title {
  margin: 0 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
}

.separator {
  margin: 0;
  border: 1px solid var(--blue-100);
}
