.subscription-management {
  margin-inline: auto;
  max-width: 660px;
  padding: 30px;
  background-color: var(--blue-100);
  border-radius: 20px;
}

.heading {
  margin: 0;
  color: var(--gray-400);
  font-weight: 600;
  font-size: 16px;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  row-gap: 16px;
  margin-top: 22px;
  column-gap: 10px;
}

.section-title {
  margin: 0;
  color: var(--blue-200);
  font-weight: 600;
  font-size: 12px;
}

.subscription-name {
  margin: 0;
  color: var(--blue-300);
  font-weight: 600;
  font-size: 28px;
}

.meta-wrapper {
  display: flex;
  gap: 40px;
  margin-top: 16px;
}

.meta {
  margin-block: 5px 0;
  color: var(--gray-400);
  font-weight: 600;
  font-size: 16px;
}

.benefits {
  margin-block: 7px 0;
  padding: 0;
  color: var(--gray-400);
  font-size: 14px;
  list-style: none;
}

.benefit {
  display: flex;
  align-items: center;
  gap: 6px;
}
