@font-face {
  font-weight: 400;
  font-family: Montserrat;
  font-style: normal;
  src: url("../../../public/fonts/montserrat/montserrat-regular.woff2")
    format("woff2");
}

@font-face {
  font-weight: 500;
  font-family: Montserrat;
  font-style: normal;
  src: url("../../../public/fonts/montserrat/montserrat-medium.woff2")
    format("woff2");
}

@font-face {
  font-weight: 600;
  font-family: Montserrat;
  font-style: normal;
  src: url("../../../public/fonts/montserrat/montserrat-semibold.woff2")
    format("woff2");
}
