@font-face {
  font-weight: 100;
  font-family: Montserrat;
  font-style: normal;
  src: url("../../../public/fonts/montserrat/Montserrat-Thin.woff2")
    format("woff2");
}

@font-face {
  font-weight: 100;
  font-family: Montserrat;
  font-style: italic;
  src: url("../../../public/fonts/montserrat/Montserrat-ThinItalic.woff2")
    format("woff2");
}

@font-face {
  font-weight: 200;
  font-family: Montserrat;
  font-style: normal;
  src: url("../../../public/fonts/montserrat/Montserrat-ExtraLight.woff2")
    format("woff2");
}

@font-face {
  font-weight: 200;
  font-family: Montserrat;
  font-style: italic;
  src: url("../../../public/fonts/montserrat/Montserrat-ExtraLightItalic.woff2")
    format("woff2");
}

@font-face {
  font-weight: 300;
  font-family: Montserrat;
  font-style: normal;
  src: url("../../../public/fonts/montserrat/Montserrat-Light.woff2")
    format("woff2");
}

@font-face {
  font-weight: 300;
  font-family: Montserrat;
  font-style: italic;
  src: url("../../../public/fonts/montserrat/Montserrat-LightItalic.woff2")
    format("woff2");
}

@font-face {
  font-weight: 400;
  font-family: Montserrat;
  font-style: normal;
  src: url("../../../public/fonts/montserrat/Montserrat-Regular.woff2")
    format("woff2");
}

@font-face {
  font-weight: 400;
  font-family: Montserrat;
  font-style: italic;
  src: url("../../../public/fonts/montserrat/Montserrat-Italic.woff2")
    format("woff2");
}

@font-face {
  font-weight: 500;
  font-family: Montserrat;
  font-style: normal;
  src: url("../../../public/fonts/montserrat/Montserrat-Medium.woff2")
    format("woff2");
}

@font-face {
  font-weight: 500;
  font-family: Montserrat;
  font-style: italic;
  src: url("../../../public/fonts/montserrat/Montserrat-MediumItalic.woff2")
    format("woff2");
}

@font-face {
  font-weight: 600;
  font-family: Montserrat;
  font-style: normal;
  src: url("../../../public/fonts/montserrat/Montserrat-SemiBold.woff2")
    format("woff2");
}

@font-face {
  font-weight: 600;
  font-family: Montserrat;
  font-style: italic;
  src: url("../../../public/fonts/montserrat/Montserrat-SemiBoldItalic.woff2")
    format("woff2");
}

@font-face {
  font-weight: 700;
  font-family: Montserrat;
  font-style: normal;
  src: url("../../../public/fonts/montserrat/Montserrat-Bold.woff2")
    format("woff2");
}

@font-face {
  font-weight: 700;
  font-family: Montserrat;
  font-style: italic;
  src: url("../../../public/fonts/montserrat/Montserrat-BoldItalic.woff2")
    format("woff2");
}

@font-face {
  font-weight: 800;
  font-family: Montserrat;
  font-style: normal;
  src: url("../../../public/fonts/montserrat/Montserrat-ExtraBold.woff2")
    format("woff2");
}

@font-face {
  font-weight: 800;
  font-family: Montserrat;
  font-style: italic;
  src: url("../../../public/fonts/montserrat/Montserrat-ExtraBoldItalic.woff2")
    format("woff2");
}

@font-face {
  font-weight: 900;
  font-family: Montserrat;
  font-style: normal;
  src: url("../../../public/fonts/montserrat/Montserrat-Black.woff2")
    format("woff2");
}

@font-face {
  font-weight: 900;
  font-family: Montserrat;
  font-style: italic;
  src: url("../../../public/fonts/montserrat/Montserrat-BlackItalic.woff2")
    format("woff2");
}
