* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  font-size: 14px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

#root {
  --toastify-color-error: #d51a52;
  --toastify-icon-color-error: var(--toastify-color-error);
  --toastify-color-progress-error: var(--toastify-color-error);

  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.Toastify__toast--error {
  color: #222222;
  font-weight: 400;
  font-size: 12px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  line-height: normal;
  border-radius: 20px;
}
