:root {
  --white: #ffffff;
  --shadow: 0 2px 4px #0000001a;
  --black: #000000;
  --gray-100: #e2e3e5;
  --gray-200: #6c707a;
  --gray-300: #484b53;
  --gray-400: #302e36;
  --blue-100: #ebf3ff;
  --blue-200: #acb4d0;
  --blue-250: #4e80ff;
  --blue-300: #507ceb;
  --blue-400: #5244f3;
  --blue-700: #113183;
  --violet-100: #e5e1ff;
  --pink-200: #e1a7d5;
  --red-300: #d51a52;
  --transparent: #00000000;
  --white-alpha-20: #ffffff33;
  --white-alpha-30: #ffffff4d;
  --white-alpha-80: #ffffff80;
  --blue-alpha-30: #527deb4d;
  --blue-alpha-70: #a6d4ffb2;
  --blue-alpha-90: #3295cd52;
  --gray-alpha-5: #312f370d;
  --gray-alpha-30: #312f374d;
  --gray-alpha-50: #302e3680;
}
